@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

@import url("https://use.typekit.net/pkh4bbh.css");

html {
    font-size: 16px;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
