{{ define "main" }}
  <div class="relative">
    <div class="lg:absolute lg:inset-0">
      <div class="lg:absolute lg:inset-y-0 lg:left-0 w-full lg:w-1/2">
        {{ $image := .Resources.GetMatch "featured*.jpg" }}
        {{ $imageWebp := $image.Resize "1600x webp" }}
        {{ $image1x := $image.Resize "800x" }}
        {{ $image1xWebp := $image.Resize "800x webp" }}
        <picture>
          <source srcset="{{ $imageWebp.RelPermalink }}" type="image/webp" media="(min-width: 1200px)">
          <source srcset="{{ $image.RelPermalink }}" type="image/jpeg" media="(min-width: 640px)">
          <source srcset="{{ $image1xWebp.RelPermalink }}" type="image/webp">
          <source srcset="{{ $image1x.RelPermalink }}" type="image/jpeg">
          <img class="h-64 tablet:h-96 lg:h-full w-full object-cover lg:absolute" src="{{ $image1x.RelPermalink }}" alt="" width="{{ $image1x.Width }}" height="{{ $image1x.Height }}">
        </picture>
      </div>
    </div>
    <div class="relative pt-8 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
      <div class="lg:col-start-2 lg:pl-8 lg:h-screen">
        <div class="max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
          <div class="prose prose-blue text-gray-500">
            {{ .Content }}
          </div>
          <div class="mt-12 lg:flex lg:space-x-2 prose-blue text-gray-400 leading-6 text-xs italic">
            <div>
              {{ T "last-updated" }}: {{ .Lastmod | time.Format ":date_long" }}
            </div>
            {{ if .IsTranslated }}
              <div>
                {{ i18n "translations" }}: {{ partial "translations.html" . }}.
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{{ end }}