<!doctype html>

<html lang="en">
{{ partial "head.html" . }}
<body>
<script src="/assets/js/bep.js"></script>
<div class="container">
    <div class="about">
        <p>bep<em>.is</em> Bjørn Erik Pedersen. I’m a software developer and saxophone player from Norway.</p>

        <p>Find me at <a href="https://github.com/bep">GitHub</a>, <a href="https://www.linkedin.com/pub/bjørn-erik-pedersen">
            LinkedIn</a> and <a href="https://twitter.com/bepsays">Twitter</a>. When I have something clever to say, I scribble it down at <a
                href="http://bepsays.com">bepsays
            .com</a>. It’s mostly in Norwegian, but some <a href="http://bepsays.com/english">english</a> content can be found. You can reach me at <a
                href="mailto:bjorn.erik.pedersen@gmail.com">bjorn.erik.pedersen@gmail.com.</a></p>
    </div>
</div>
</body>
</html>